.withdraw-container {
  color: white;
}

.withdraw-container h1 {
  font-size: 30px;
  margin: 0 0 20px;
  font-weight: 800;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 18px;
  flex-wrap: wrap;
}

.tabs button {
  padding: 11px 16px;
  border: none;
  border-radius: 12px;
  background: #1e293b;
  color: #cbd5e1;
  cursor: pointer;
  font-weight: 700;
}

.active-tab {
  background: #2563eb !important;
  color: white !important;
}

.withdraw-table {
  width: 100%;
  min-width: 950px;
  border-collapse: collapse;
  background: #1e293b;
  border-radius: 16px;
  overflow: hidden;
}

.withdraw-container {
  overflow-x: auto;
}

.withdraw-table th {
  background: #020617;
  padding: 14px;
  color: #94a3b8;
  white-space: nowrap;
}

.withdraw-table td {
  padding: 14px;
  text-align: center;
  border-top: 1px solid #334155;
  white-space: nowrap;
}

.view,
.approve,
.reject {
  border: none;
  padding: 8px 12px;
  border-radius: 9px;
  cursor: pointer;
  color: white;
  font-weight: 700;
}

.view {
  background: #3b82f6;
}

.approve {
  background: #22c55e;
  margin-right: 6px;
}

.reject {
  background: #ef4444;
}

.pending {
  color: #facc15;
  font-weight: 800;
}

.approved {
  color: #22c55e;
  font-weight: 800;
}

.rejected {
  color: #ef4444;
  font-weight: 800;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  padding: 15px;
}

.modal-content {
  width: 100%;
  max-width: 420px;
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 18px;
  padding: 22px;
  color: white;
}

.modal-content button {
  margin-top: 12px;
  width: 100%;
  padding: 11px;
  border: none;
  border-radius: 12px;
  background: #2563eb;
  color: white;
  font-weight: 800;
}

@media (max-width: 768px) {
  .withdraw-container h1 {
    font-size: 24px;
  }

  .tabs button {
    flex: 1;
    min-width: 145px;
  }
}




.search-box {
  display: flex;
  gap: 10px;
  margin: 0 0 18px;
  max-width: 420px;
}

.search-box input {
  flex: 1;
  padding: 12px 14px;
  border: 1px solid #334155;
  border-radius: 12px;
  background: #020617;
  color: #fff;
  outline: none;
}

.search-box input:focus {
  border-color: #3b82f6;
}

.search-box button {
  padding: 12px 14px;
  border: none;
  border-radius: 12px;
  background: #ef4444;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.penalty-text {
  font-weight: 700;
  color: #f59e0b;
}

.modal-content h3 {
  margin: 14px 0 8px;
  color: #93c5fd;
}

.modal-content hr {
  border: none;
  border-top: 1px solid #334155;
  margin: 14px 0;
}

.modal-content p {
  margin: 9px 0;
  line-height: 1.4;
}